# Puerto donde corre el servidor
PUERTO=

# Datos de conexión a PostgreSQL
BD_HOST=
BD_USER=
BD_PASS=
BD_BD=
BD_PORT=

# Clave secreta para firmar los tokens JWT
JWT_FIRMA=

# Clave secreta para firmar las cookies
COOKIE_FIRMA=



